name: gamedata_trigger

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check for updates and trigger workflow if needed
        run: |
          [ "$(curl -s https://api.github.com/repos/ArknightsAssets/ArknightsGamedata/commits?per_page=1 | jq -r "((now - (.[0].commit.author.date | fromdateiso8601)) / (60*60*24) | trunc)")" != "0" ] || \
          curl -X POST -H "Accept: application/vnd.github.v3+json" \
               -H "Authorization: Bearer ${{ secrets.PERSONAL_ACCESS_TOKEN }}" \
               https://api.github.com/repos/${{ github.repository }}/actions/workflows/gen_avatars.yml/dispatches \
               -d '{"ref":"main"}'
